<div class="area-login-background d-none d-md-block"></div>  <!--tem uma paradas de media screen, ver isso-->

<div class="area-form">
    <form>
        <h1 class="titulo">CRUD USERS</h1>
        <h2 class="subtitulo">Mais eficiência no controle de usuário</h2>

        <input [(ngModel)]="userName"  [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome">

        <app-button class= "botao" textButton="Acessar" (click)="login()"></app-button>
        
        <p class="footer"> © 2025 | Desenvolvido por André</p>

    </form>
</div>
