.sidemenu{
    width: 210px; /*Largura da faixa roxa na lateral*/
    height: 100vh;
    min-height: 100vh;
    display: block;
    float: left;
    background-color: var(--cor_primaria);
    padding: 10px 0px;
    box-shadow: 4px 0px 10px 4px #0a0a0a30;
    margin-right: 16px;
}

.sidemenu ul{
    padding: 0; /*margem dos elementos da lista do menu*/
}

.sidemenu .logo{
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
}

.sidemenu li{
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #fafafa;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.3s;
    mat-icon{
        margin-right: 14px;/*distancia os icones do nome*/
        font-size: 24px; /*tamanho do icone*/   
    }
    &:hover{
        background: #e6e6e6;
        cursor: pointer;
        color: var(--cor_primaria);
    } 
}

/*.sidemenu li:hover{
    background: #e6e6e6;
    cursor: pointer;
    color: var(--cor_primaria);
}*/

.sidemenu .logout{
    position: absolute;
    bottom: 10px;
    width: 210px;
    
}

.sidemenu a{
    text-decoration: none; /*remove o riscado de link embaixo do texto*/
}